.columns-list {
  margin-top: 17px;
  margin-left: 38px;
}
.add-btn {
  font-size: 12px;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
}
.add-btn:hover {
  text-decoration: underline;
}
